{% comment %}
  Renders share button.
  Accepts:
  - block: {Object} passes in the block information.
  - share_link: {String} url to be added to the input the user will get/copy.

  Usage:
  {% render 'share-button',
    block: block,
    share_link: share_url
  %}
{% endcomment %}

<div class="share-buttons" {{ block.shopify_attributes }}>
  <ul class="share-buttons__list">
    <li class="share-buttons__item">
      <button type="button" class="share-buttons__link share-buttons__link--copy" aria-label="URLをコピー" data-copy-url="{{ share_link }}">
        <span class="svg-wrapper">{{ 'icon-copy.svg' | inline_asset_content }}</span>
      </button>
    </li>
    <li class="share-buttons__item">
      <a href="https://twitter.com/intent/tweet?url={{ share_link | url_encode }}&text={{ product.title | url_encode }}" target="_blank" rel="noopener noreferrer" class="share-buttons__link share-buttons__link--x" aria-label="Xでシェア">
        <span class="svg-wrapper">{{ 'icon-twitter.svg' | inline_asset_content }}</span>
      </a>
    </li>
    <li class="share-buttons__item">
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ share_link | url_encode }}" target="_blank" rel="noopener noreferrer" class="share-buttons__link share-buttons__link--facebook" aria-label="Facebookでシェア">
        <span class="svg-wrapper">{{ 'icon-facebook.svg' | inline_asset_content }}</span>
      </a>
    </li>
  </ul>
</div>
<script>
  document.querySelectorAll('.share-buttons__link--copy').forEach(btn => {
    btn.addEventListener('click', () => {
      navigator.clipboard.writeText(btn.dataset.copyUrl).then(() => {
        btn.classList.add('copied');
        setTimeout(() => btn.classList.remove('copied'), 2000);
      });
    });
  });
</script>
